page-forgotpassword {
    .headBg .toolbar-background
	{
		background: #ce0b10;
	}
	.headTitle .toolbar-title
	{
		color:#fff;
	}	
	.header-md::after
	{
		background: none;
	}
	.pageBodybg
	{
		background: #eeeaea91;
	}
	.row1bg
	{
		background: #ce0b10;
	}
	.search_col h3
	{
		margin: 25px 0 20px;
	    font-size: 26px;
	    font-weight: 100;
	    color: #fff;
	}
	.search_col p
	{
		text-align: center;
	    margin: 20px 60px;
	    color: #fff;
	}
	.back-button.show-back-button {
		color: #fff !important;
		display: none;
	}
	.searchLogo
	{
		display: block;
		height: 100%;
		text-align: center;
	    padding: 25px 0;
	}
	.ent_postcode
	{
		font-size:18px;
	}
	.postcode ion-item
	{
		background: #eeeaea30;
    	border-bottom: 1px solid #f3cc2c !important;
			padding: 0;
			position: absolute;
			top:40px;

	}
	.postcode ion-item ion-input .text-input
	{
		color:#151515;
		margin: 13px 0;
	}
	.show_rest_btn
	{
		height: 60px;
	    font-size: 18px;
	    text-transform: capitalize;
	    background: #f3cc2c url(../assets/imgs/arrow-right.png);
	    background-repeat: no-repeat;
	    background-position: 95%;
		font-weight: 500;
		color: #fff;
	}
	.locationbtn
	{
		    margin: 30% 0 0;
	}
	.locBtn
	{
		text-transform: inherit;
    	font-size: 18px;
    	color:#f3cc2c;
	}
	.locBtn ion-icon
	{
		font-size: 30px;
		padding: 0 20px 0 0;
	}
	// .locBtn img
	// {
	// 	padding: 0 10px 0 0;
	// }
/*remove foucus color of textbox*/
.item-md.item-input.input-has-focus .item-inner {
	border-bottom-color:#f3cc2c !important;
	box-shadow: none !important;
	}
	
	.list-md .item-input.input-has-focus:last-child {
			border-bottom-color: #f3cc2c !important;
			border-left-color: transparent !important;
	box-shadow: none !important;
	}
	  .postcode ion-label
	  {
		color: #a0a0a0 !important;
      }
      .loginBtn
	{
		width: 80%;
	    border-radius: 0;
	    padding: 30px 0;
	    text-transform: capitalize;
	    font-size: 18px;
	    font-weight: 400;
	    background: #f3cc2c;
    }
    .emInput {
		background: none;
	}
}
